/* Write your CSS here */

.age-card-container {
  background-color: #1c1c2b;
  padding: 10px;
  margin-bottom: 10px;
}
.age-card-heading {
  color: #cbd5e1;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Roboto';
}
